<div class="panel">
  <div class="row">
    <div class="col-md-7">
      <img src="{{ asset('../modules/healthyinfocheckout/views/img/itek-logo-footer.svg') }}" alt="logo" />
    </div>
    <div class="col-md-5 text-right">
      <div class="banner-question-left">
        <span class="question-mark">&#x3F;</span>
      </div>
      <div class="banner-question-right">
        <span><b>{{ 'Any question ?'|trans({}, 'healthyinfocheckout') }}</b></span><br/>
        <span>{{ 'Contact us using'|trans({}, 'healthyinfocheckout') }} <a href="https://addons.prestashop.com/fr/contactez-nous?id_product=52154" target="blank">{{ 'this link'|trans({}, 'delivengoprofil') }}</a></span><br/>
      </div>
    </div>
  </div>
</div>

