<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>healthyinfocheckout</name>
    <displayName><![CDATA[HealthyQ]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Adds extra questions about health insurance and prescription to the checkout page]]></description>
    <author><![CDATA[Tess]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Do you really want to de install ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>