{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain "Admin.Design.Feature" %}

{% block content %}
  {# Include CSS file #}
  <link rel="stylesheet" href="{{ asset('../modules/healthyinfocheckout/views/dist/config.css') }}">
  <div id="delivengo_admin" class="col-lg-offset-1 col-lg-10 container">
    {{ include('@Modules/healthyinfocheckout/views/templates/admin/banner.html.twig') }}
    <div class="panel">
      {{ dump(data) }}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
